flask
gunicorn
uvicorn
python-dotenv

pandas==2.0.3

langchain==0.1.16
langchain-core==0.1.53
langchain-community==0.0.29
langchain-huggingface==0.0.6
langchain-astradb==0.3.0
langchain-groq==0.1.3

astrapy
requests
numpy



