flask
gunicorn
uvicorn
python-dotenv

pandas

langchain==0.1.20
langchain-core==0.1.53
langchain-community==0.0.38
langchain-huggingface==0.0.3
langchain-astradb
langchain-groq

astrapy
requests
numpy



